.bar-chart {
  margin: 20px 0;
}
.bar-chart > div {
  background: #144A7C;
  color: #f1f1f1;
  padding: 0 4px;
  line-height: 100%;
  display: table;
  margin-bottom: 2px
}
.bar-chart > div > span {
  display: table-cell;
  vertical-align: middle;
}
.responsive-bar-chart {
  padding: 0 0 10px 0;
}