body {
  font-family: "aileronultralight", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1600px;
}

.bg {
  background: url('../img/bg.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.nav { 
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.nav .logo {
  float: left;
  font-family: 'aileronbold';
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 24px;
}

.nav .tagline {
  float: left;
  margin-left:20px;
  font-size: 18px;
  letter-spacing: 1.2px;
}

.nav nav {
  float: right;
  a {
    margin-left: 30px;
    font-size: 18px;
    letter-spacing: 1.2px;
    word-spacing: 3px;
  }
}

.main {
  margin-top: 15px;
}

.main-header {
  background: rgba(58, 58, 58, 0.7);
  padding: 10px 20px 0 20px;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.7px;
  line-height: 24px;
  text-transform: uppercase;

  h2 {
    margin-top:10px;
    font-size: 20px;
    letter-spacing: 1.6px;
    float:left;
  }
}

.main-content {
  padding: 40px 20px;
  background: rgba(58, 58, 58, 0.5);

  h3 {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.7px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.filters a {
  font-size: 14px;
  text-transform: uppercase;
  padding:10px;
  color: #fff;
  text-decoration: none;
  background: #222222;
  float: right;
  margin-left: 10px;

  &:hover {
    background: #333;
  }
}